body {
  margin: 0;
  height: 800px;
  width: 100%;
}
#root {
  margin: 0;
  height: 800px;
  width: 100%;
}

.App {
  display: flex;
  justify-content: center;
  background-image: url("seko.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  align-items: center;
  height: inherit;
  width: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(156, 68, 99, 0.5);
}

.modal {
  background-image: url("winx.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
